<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Life Appp</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<h1>Personalities</h1>

    <div class="form-group blu-margin">
        <!--<select class="form-control" th:field="${operator.opeId}"  id="dropOperator">-->
        <select class="form-control">
            <option value="0">select personalityType</option>
            <option th:each="personalityType : ${personalities}"
                    th:value="${personalityType.id}" th:text="${personalityType.name}"></option>
        </select>
        <br />
        <br />
        <select class="form-control">
            <option value="0">select occupation</option>
            <option th:each="occupation : ${occupations}"
                    th:value="${occupation.id}" th:text="${occupation.name}">
            </option>
        </select>
    </div>


<br />
<div>
    <a href="/">Done</a>
</div>


</body>
</html>